<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">            
            <li class="nav-item">
                <a class="nav-link noPadSvg" href="#">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" xlmns:xlink="#">
                                <g id="tiles">
                                    <rect width="40" height="40"/>
                                    <g id="rectangles">
                                        <rect id="rect1" x="4" y="5" width="13.3" height="13.3" rx="2"/>
                                        <rect id="rect2" x="23.3" y="5" width="13.3" height="13.3" rx="2"/>
                                        <rect id="rect3" x="4" y="23.3" width="13.3" height="13.3" rx="2"/>
                                        <rect id="rect4" x="23.3" y="23.3" width="13.3" height="13.3" rx="2"/>
                                    </g>
                                </g>
                            </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link noPadSvg" href="#">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="list">
                                    <rect width="40" height="40"/>
                                    <g id="lines">
                                        <rect id="line4" x="4" y="31" width="32" height="5" rx="1"/>
                                        <rect id="line3" x="4" y="22" width="32" height="5" rx="1"/>
                                        <rect id="line2" x="4" y="13" width="32" height="5" rx="1"/>
                                        <rect id="line1" x="4" y="4" width="32" height="5" rx="1"/>
                                    </g>
                                </g>
                            </svg>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>