<% layout('layouts/boilerplate') -%> 
<%- include('../partials/navSetOptions') %>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col" class="col-1">Card</th>
            <th scope="col" class="col-1">Name</th>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-1">Rarity</th>
            <th scope="col" class="col-5">Count</th>
        </tr>
    </thead>
    <tbody>
        <% for(let card of cards) { %>
            <%- include('./item', {card : card, set: theSet}); %>

                <% } %>
    </tbody>
</table>


