<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-3">Card</th>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-1">Rarity</th>
            <th scope="col" class="col-7">Count</th>
        </tr>
    </thead>
    <tbody>
        <% for(let card of set.cards) { %>
            <%- include('./item', {card : card}); %>

                <% } %>
    </tbody>
</table>