<%- include('partials/head')%>

    <body>

        <%- include('partials/navTitle') %>
            <%- include('partials/navOptions') %>
                <%- include('partials/table') %>

    </body>

    </html>