:root {
    --dark-color: #635bff;
    --light-color: #80e9ff;
}

svg {
    cursor: pointer;
}

#rectangles {
    fill: var(--primary);
}

#lightGroup {
    fill: var(--light-color);
}

.noPadSvg {
    padding: 0;
}

#lines {
    fill: var(--primary);
}

.custom-toggler.navbar-toggler {
    border-color: var(--primary);
}


/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 110, 253, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.image {
    height: 100%;
    width: 50px;
}

.card-img{
    width: 100%!important;
    height: 100px!important;
    object-fit: cover;
 }

 body {
    background-color: green!important;
 }