<% layout('layouts/boilerplate') -%> 

    <body>

        <div class="container">
            <div class="row">
                <% for(let set of setData) { %> 
                    <a href="/set/<%= set.id  %>">
                    <div class="card parent">
                        <img class="card-img-top imglogo" src="<%= set.images.logo %>" alt="Card image cap">
                  </div>
                </a>
                
                <% } %> 
        </div>
        </div>


    </body>