<% layout('layouts/boilerplate') -%> 

    <body>
        <%- include('../partials/navIndex') %>

        <div class="container">
            <div class="row">
                <% for(let set of sets) { %> 
                    <a href="/set/<%= set.id  %>">
                        <div class="card parent">
                            <img class="card-img-top imglogo" src="<%= set.images.logo %>" alt="Card image cap">
                        </div>
                        <p><%= set.name %></p>
                    </a>
                
                <% } %> 
        </div>
        </div>


    </body>