<% layout('layouts/boilerplate') -%> 

<body>
    <% if(view === 'tiles') { %>
        <%- include('../partials/tile', {cards: cards, set: theSet}) %>
    <% } else { %>
        <%- include('../partials/table', {cards: cards, set: theSet}) %>
    <% } %>   
    
</body>